<div data-ng-controller="SettingsController">
	<div class="row">
		<div class="col-md-2 col-md-offset-2">
			基本资料
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-2">
			<input type="file" id="exampleInputFile" name="exampleInputFile" style="display:none;">
			<a style="cursor:pointer;" onclick="document.getElementById('exampleInputFile').click()">
				<img src="{{user.photoUrl}}" style="width:120px;height:120px;" alt="头像">
			</a>
		</div>
		<div class="col-md-3">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="displayName" placeholder="真实姓名">
				</div>
				<div class="form-group">
					<label>
						<input type="radio" aria-label="..." name="a" ng-model="sex"> 男
					</label>
					<label style="margin-left:1em;">
						<input type="radio" aria-label="..." name="a" ng-model="sex"> 女
					</label>
				</div>
				<button type="button" class="btn btn-default" ng-click="updateUserProfile()">确  定</button>
			</form>
		</div>
	</div>
</div>