<section class="row" >	        
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="#">Profile<span class="sr-only">(current)</span></a></li>
            <a ui-sref='settings.profile' ui-sref-active="active" class="list-group-item">Edit Profile</a>
            <a ui-sref='settings.password' ui-sref-active="active" class="list-group-item">Change Password</a>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="#">My Company<span class="sr-only">(current)</span></a></li>
            <a href="#" class="list-group-item">Manage Company</a>
            <a href="#" class="list-group-item">Join Company</a>
        </ul>
    </div>
        
    <div class="col-sm-9 col-md-10" data-ui-view>
    </div>
</section>